<html>
  <head>
     <title>Ad Optimizer</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div id="headline" class="container"><br>
      <center>
        <h2>Ad Optimizer</h2>
      <center>
    </div>

    <div id="content" class="container"><br>
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
