{% extends "base.html" %}
{% block content %}
<div class=container">
  <div>
    <p><b>CSV Import</b></p>
    <p>
      Paste your ad data in the below format and select your desired output to return all ads and their suggested budget share or status.
      You can also adjust the click and conversion success weights to accomodate your individual use case and strategy.
    </p>
  </div>
  <form method="POST">
    <div class="form-group">
      <b>Output</b>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="output" name="output" value="status" checked>
        <label class="form-check-label" for="output1">Status (Active/Paused)</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="output" name="output" value="share" {% if output == 'share' %}checked{% endif %}>
        <label class="form-check-label" for="output2">Share</label>
      </div>
    </div>
    <div class="form-group">
      <b>Success Weights</b><br>
      <p>If you leave all weights blank, they will be set to their relative cost ratios.</p>
      <div class="form-row">
        <div class="form-group col-sm">
          <label for="click_weight">Impression Weight</label>
          <input class="form-control" name="impression_weight" type="number" min="0" step="1" {% if impression_weight %}value={{ impression_weight }}{% endif %}>
        </div>
        <div class="form-group col-sm">
          <label for="click_weight">Engagement Weight</label>
          <input class="form-control" name="engagement_weight" type="number" min="0" step="1" {% if engagement_weight %}value={{ engagement_weight }}{% endif %}>
        </div>
        <div class="form-group col-sm">
          <label for="click_weight">Click Weight</label>
          <input class="form-control" name="click_weight" type="number" min="0" step="1" {% if click_weight %}value={{ click_weight }}{% endif %}>
        </div>
        <div class="form-group col-sm">
          <label for="conversion_weight">Conversion Weight</label>
          <input class="form-control" name="conversion_weight" type="number" min="0" step="1" {% if conversion_weight %}value={{ conversion_weight }}{% endif %}>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="ads"><b>Ads (CSV incl. header)</b></label>
      <p>Columns: Channel (optional), Date (YYYY-MM-DD), Ad ID, Cost (without currency), Impressions, Engagements, Clicks, Conversions</p>
      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endif %}
      <textarea class="form-control" name="ads" id="ads" rows="10" placeholder="Channel, Date, Ad ID, Cost, Impressions, Engagements, Clicks, Conversions" required>{% if ads %}{{ ads }}{% endif %}</textarea>
    </div>
    <input type="hidden" name="update" value="false">
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
{% endblock %}
